* { box-sizing:border-box; margin:0; padding:0; }
html { height: 100%; }
body {
  font-family:'Open Sans',sans-serif; font-weight:300; color: #444d5e;
  background:#b7bec3 url(/img/bg.jpg) no-repeat center bottom; background-size:100% auto;
}
.lt-ie9 body { background:#b7bec3; } /* no soup for you */
h1 { font-size:34px; text-align:center; font-weight:700; margin:1em 0; }
a { color:#444d5e; text-decoration:none; border-bottom: 1px solid #9098A6;}
a:hover { color:#fff; opacity:1;}
.container { max-width:700px; margin:4em auto 0 auto; padding:1em 1em 10em 1em; }
p {font-size:20px; line-height:1.5em; font-weight:300; margin-bottom:1.5em; text-align: center;}
.links { text-align:center; line-height:1em; max-width:700px; margin:2em auto 1em auto; }
.links a { font-size: 1.2em; display:inline-block; padding:.3em; text-decoration:none; color:#fff; opacity:.75; text-shadow:none; border-bottom: 0;}
.links a:hover { opacity:1; text-shadow:none; }
.avatar { margin:0 auto; border-radius: 50%; max-width: 280px; height:auto; display:block; border:4px solid #fff; box-shadow: 0 0 100px rgba(255, 255, 255, .7);}
.smaller { font-size:14px; }
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  h1 { font-size: 18px; }
  p { font-size: 14px; }
  a { opacity:1; }
  .container {padding-bottom:3em;}
  .nomob { display:none; }
