/* line 5, ../../../../../../../usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.8/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.8/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.8/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.8/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.8/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.8/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.8/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.8/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/var/rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.13.alpha.8/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes starloop {
  /* line 9, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 10, ../sass/screen.scss */
  100% {
    top: 100%;
  }
}
@-webkit-keyframes starloop {
  /* line 9, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 10, ../sass/screen.scss */
  100% {
    top: 100%;
  }
}
@keyframes starloop {
  /* line 9, ../sass/screen.scss */
  0% {
    top: 0;
  }

  /* line 10, ../sass/screen.scss */
  100% {
    top: 100%;
  }
}
@-moz-keyframes fadein {
  /* line 13, ../sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 14, ../sass/screen.scss */
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* line 13, ../sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 14, ../sass/screen.scss */
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  /* line 13, ../sass/screen.scss */
  0% {
    opacity: 0;
  }

  /* line 14, ../sass/screen.scss */
  100% {
    opacity: 1;
  }
}
@-moz-keyframes rocketup {
  /* line 17, ../sass/screen.scss */
  0% {
    top: 70%;
  }

  /* line 18, ../sass/screen.scss */
  100% {
    top: 35%;
  }
}
@-webkit-keyframes rocketup {
  /* line 17, ../sass/screen.scss */
  0% {
    top: 70%;
  }

  /* line 18, ../sass/screen.scss */
  100% {
    top: 35%;
  }
}
@keyframes rocketup {
  /* line 17, ../sass/screen.scss */
  0% {
    top: 70%;
  }

  /* line 18, ../sass/screen.scss */
  100% {
    top: 35%;
  }
}
@-moz-keyframes rocketshake {
  /* line 21, ../sass/screen.scss */
  0%, 100% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }

  /* line 22, ../sass/screen.scss */
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }

  /* line 23, ../sass/screen.scss */
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(1deg);
  }

  /* line 24, ../sass/screen.scss */
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }

  /* line 25, ../sass/screen.scss */
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }

  /* line 26, ../sass/screen.scss */
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }

  /* line 27, ../sass/screen.scss */
  60% {
    -webkit-transform: translate(-2px, 1px) rotate(0deg);
  }

  /* line 28, ../sass/screen.scss */
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }

  /* line 29, ../sass/screen.scss */
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }

  /* line 30, ../sass/screen.scss */
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
}
@-webkit-keyframes rocketshake {
  /* line 21, ../sass/screen.scss */
  0%, 100% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }

  /* line 22, ../sass/screen.scss */
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }

  /* line 23, ../sass/screen.scss */
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(1deg);
  }

  /* line 24, ../sass/screen.scss */
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }

  /* line 25, ../sass/screen.scss */
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }

  /* line 26, ../sass/screen.scss */
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }

  /* line 27, ../sass/screen.scss */
  60% {
    -webkit-transform: translate(-2px, 1px) rotate(0deg);
  }

  /* line 28, ../sass/screen.scss */
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }

  /* line 29, ../sass/screen.scss */
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }

  /* line 30, ../sass/screen.scss */
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
}
@keyframes rocketshake {
  /* line 21, ../sass/screen.scss */
  0%, 100% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }

  /* line 22, ../sass/screen.scss */
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }

  /* line 23, ../sass/screen.scss */
  20% {
    -webkit-transform: translate(-2px, 0px) rotate(1deg);
  }

  /* line 24, ../sass/screen.scss */
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }

  /* line 25, ../sass/screen.scss */
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }

  /* line 26, ../sass/screen.scss */
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }

  /* line 27, ../sass/screen.scss */
  60% {
    -webkit-transform: translate(-2px, 1px) rotate(0deg);
  }

  /* line 28, ../sass/screen.scss */
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }

  /* line 29, ../sass/screen.scss */
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }

  /* line 30, ../sass/screen.scss */
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
}
/* line 50, ../sass/screen.scss */
body {
  background: black;
  font-family: "HelveticaNeue-Thin", sans-serif;
}
/* line 53, ../sass/screen.scss */
body div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 57, ../sass/screen.scss */
body .vignette {
  background-image: -moz-radial-gradient(60% 60%, rgba(0, 0, 0, 0), #000000);
  background-image: -o-radial-gradient(60% 60%, rgba(0, 0, 0, 0), #000000);
  background-image: -webkit-radial-gradient(60% 60%, rgba(0, 0, 0, 0), #000000);
  background-image: radial-gradient(60% 60%, rgba(0, 0, 0, 0), #000000);
}
/* line 60, ../sass/screen.scss */
body .planet {
  -moz-background-size: 100% 280%;
  -o-background-size: 100% 280%;
  -webkit-background-size: 100% 280%;
  background-size: 100% 280%;
  background-repeat: no-repeat;
  background-image: -moz-radial-gradient(100% 40%, #66ffff, rgba(0, 0, 0, 0));
  background-image: -o-radial-gradient(100% 40%, #66ffff, rgba(0, 0, 0, 0));
  background-image: -webkit-radial-gradient(100% 40%, #66ffff, rgba(0, 0, 0, 0));
  background-image: radial-gradient(100% 40%, #66ffff, rgba(0, 0, 0, 0));
  top: 70%;
  opacity: .5;
}
/* line 67, ../sass/screen.scss */
body .subjects {
  text-align: center;
}
/* line 69, ../sass/screen.scss */
body .subjects .rocket {
  position: absolute;
  left: 0;
  right: 0;
  -moz-animation: rocketup 2s ease-out 0s 1 forwards;
  -webkit-animation: rocketup 2s ease-out 0s 1 forwards;
  animation: rocketup 2s ease-out 0s 1 forwards;
  margin: auto;
}
/* line 74, ../sass/screen.scss */
body .subjects .rocket img {
  height: 60px;
  opacity: 0;
  -moz-animation: fadein 2.5s linear 0s 1 forwards, rocketshake 2s linear 0s infinite;
  -webkit-animation: fadein 2.5s linear 0s 1 forwards, rocketshake 2s linear 0s infinite;
  animation: fadein 2.5s linear 0s 1 forwards, rocketshake 2s linear 0s infinite;
}
/* line 83, ../sass/screen.scss */
body .subjects .searching {
  position: absolute;
  top: 50%;
  width: 100%;
  color: #fff;
  font-size: 20px;
}
/* line 89, ../sass/screen.scss */
body .subjects .logo {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  width: 100%;
  opacity: .5;
}
/* line 94, ../sass/screen.scss */
body .subjects .logo img {
  max-width: 40%;
}
/* line 99, ../sass/screen.scss */
body .stars {
  -moz-animation: fadein linear 3s;
  -webkit-animation: fadein linear 3s;
  animation: fadein linear 3s;
}
/* line 101, ../sass/screen.scss */
body .stars span {
  position: absolute;
  top: 0%;
  margin: auto;
}
/* line 106, ../sass/screen.scss */
body .stars .star1 {
  height: 3px;
  width: 3px;
  background: white;
  left: 15%;
  -moz-animation: starloop linear 4s infinite;
  -webkit-animation: starloop linear 4s infinite;
  animation: starloop linear 4s infinite;
}
/* line 107, ../sass/screen.scss */
body .stars .star2 {
  height: 3px;
  width: 3px;
  background: white;
  left: 20%;
  -moz-animation: starloop linear 5s infinite;
  -webkit-animation: starloop linear 5s infinite;
  animation: starloop linear 5s infinite;
}
/* line 108, ../sass/screen.scss */
body .stars .star3 {
  height: 2px;
  width: 2px;
  background: white;
  left: 28%;
  -moz-animation: starloop linear 3s infinite;
  -webkit-animation: starloop linear 3s infinite;
  animation: starloop linear 3s infinite;
}
/* line 109, ../sass/screen.scss */
body .stars .star4 {
  height: 3px;
  width: 3px;
  background: white;
  left: 47%;
  -moz-animation: starloop linear 8s infinite;
  -webkit-animation: starloop linear 8s infinite;
  animation: starloop linear 8s infinite;
}
/* line 110, ../sass/screen.scss */
body .stars .star5 {
  height: 1px;
  width: 1px;
  background: white;
  left: 89%;
  -moz-animation: starloop linear 6s infinite;
  -webkit-animation: starloop linear 6s infinite;
  animation: starloop linear 6s infinite;
}
/* line 111, ../sass/screen.scss */
body .stars .star6 {
  height: 1px;
  width: 1px;
  background: white;
  left: 53%;
  -moz-animation: starloop linear 4.4s infinite;
  -webkit-animation: starloop linear 4.4s infinite;
  animation: starloop linear 4.4s infinite;
}
/* line 112, ../sass/screen.scss */
body .stars .star7 {
  height: 2px;
  width: 2px;
  background: white;
  left: 33%;
  -moz-animation: starloop linear 2.5s infinite;
  -webkit-animation: starloop linear 2.5s infinite;
  animation: starloop linear 2.5s infinite;
}
/* line 113, ../sass/screen.scss */
body .stars .star8 {
  height: 3px;
  width: 3px;
  background: white;
  left: 69%;
  -moz-animation: starloop linear 3s infinite;
  -webkit-animation: starloop linear 3s infinite;
  animation: starloop linear 3s infinite;
}
/* line 114, ../sass/screen.scss */
body .stars .star9 {
  height: 2px;
  width: 2px;
  background: white;
  left: 76%;
  -moz-animation: starloop linear 6.5s infinite;
  -webkit-animation: starloop linear 6.5s infinite;
  animation: starloop linear 6.5s infinite;
}
/* line 115, ../sass/screen.scss */
body .stars .star10 {
  height: 1px;
  width: 1px;
  background: white;
  left: 81%;
  -moz-animation: starloop linear 7s infinite;
  -webkit-animation: starloop linear 7s infinite;
  animation: starloop linear 7s infinite;
}
/* line 116, ../sass/screen.scss */
body .stars .star11 {
  height: 3px;
  width: 3px;
  background: white;
  left: 93%;
  -moz-animation: starloop linear 3.7s infinite;
  -webkit-animation: starloop linear 3.7s infinite;
  animation: starloop linear 3.7s infinite;
}
/* line 117, ../sass/screen.scss */
body .stars .star12 {
  height: 3px;
  width: 3px;
  background: white;
  left: 5%;
  -moz-animation: starloop linear 2.3s infinite;
  -webkit-animation: starloop linear 2.3s infinite;
  animation: starloop linear 2.3s infinite;
}
/* line 118, ../sass/screen.scss */
body .stars .star13 {
  height: 2px;
  width: 2px;
  background: white;
  left: 38%;
  -moz-animation: starloop linear 5.4s infinite;
  -webkit-animation: starloop linear 5.4s infinite;
  animation: starloop linear 5.4s infinite;
}
/* line 119, ../sass/screen.scss */
body .stars .star14 {
  height: 3px;
  width: 3px;
  background: white;
  left: 61%;
  -moz-animation: starloop linear 3.2s infinite;
  -webkit-animation: starloop linear 3.2s infinite;
  animation: starloop linear 3.2s infinite;
}
/* line 120, ../sass/screen.scss */
body .stars .star15 {
  height: 1px;
  width: 1px;
  background: white;
  left: 83%;
  -moz-animation: starloop linear 2.9s infinite;
  -webkit-animation: starloop linear 2.9s infinite;
  animation: starloop linear 2.9s infinite;
}
/* line 121, ../sass/screen.scss */
body .stars .star16 {
  height: 1px;
  width: 1px;
  background: white;
  left: 39%;
  -moz-animation: starloop linear 2.3s infinite;
  -webkit-animation: starloop linear 2.3s infinite;
  animation: starloop linear 2.3s infinite;
}
/* line 122, ../sass/screen.scss */
body .stars .star17 {
  height: 2px;
  width: 2px;
  background: white;
  left: 83%;
  -moz-animation: starloop linear 5.1s infinite;
  -webkit-animation: starloop linear 5.1s infinite;
  animation: starloop linear 5.1s infinite;
}
/* line 123, ../sass/screen.scss */
body .stars .star18 {
  height: 3px;
  width: 3px;
  background: white;
  left: 77%;
  -moz-animation: starloop linear 3.7s infinite;
  -webkit-animation: starloop linear 3.7s infinite;
  animation: starloop linear 3.7s infinite;
}
/* line 124, ../sass/screen.scss */
body .stars .star19 {
  height: 2px;
  width: 2px;
  background: white;
  left: 48%;
  -moz-animation: starloop linear 6.5s infinite;
  -webkit-animation: starloop linear 6.5s infinite;
  animation: starloop linear 6.5s infinite;
}
/* line 125, ../sass/screen.scss */
body .stars .star20 {
  height: 3px;
  width: 3px;
  background: white;
  left: 62%;
  -moz-animation: starloop linear 3.5s infinite;
  -webkit-animation: starloop linear 3.5s infinite;
  animation: starloop linear 3.5s infinite;
}
/* line 126, ../sass/screen.scss */
body .stars .star21 {
  height: 3px;
  width: 3px;
  background: white;
  left: 84%;
  -moz-animation: starloop linear 2s infinite;
  -webkit-animation: starloop linear 2s infinite;
  animation: starloop linear 2s infinite;
}
/* line 127, ../sass/screen.scss */
body .stars .star22 {
  height: 3px;
  width: 3px;
  background: white;
  left: 20%;
  -moz-animation: starloop linear 4.2s infinite;
  -webkit-animation: starloop linear 4.2s infinite;
  animation: starloop linear 4.2s infinite;
}
/* line 128, ../sass/screen.scss */
body .stars .star23 {
  height: 2px;
  width: 2px;
  background: white;
  left: 73%;
  -moz-animation: starloop linear 5.3s infinite;
  -webkit-animation: starloop linear 5.3s infinite;
  animation: starloop linear 5.3s infinite;
}
/* line 129, ../sass/screen.scss */
body .stars .star24 {
  height: 3px;
  width: 3px;
  background: white;
  left: 15%;
  -moz-animation: starloop linear 2.6s infinite;
  -webkit-animation: starloop linear 2.6s infinite;
  animation: starloop linear 2.6s infinite;
}
/* line 130, ../sass/screen.scss */
body .stars .star25 {
  height: 1px;
  width: 1px;
  background: white;
  left: 29%;
  -moz-animation: starloop linear 3.1s infinite;
  -webkit-animation: starloop linear 3.1s infinite;
  animation: starloop linear 3.1s infinite;
}
/* line 131, ../sass/screen.scss */
body .stars .star26 {
  height: 1px;
  width: 1px;
  background: white;
  left: 82%;
  -moz-animation: starloop linear 6.4s infinite;
  -webkit-animation: starloop linear 6.4s infinite;
  animation: starloop linear 6.4s infinite;
}
/* line 132, ../sass/screen.scss */
body .stars .star27 {
  height: 2px;
  width: 2px;
  background: white;
  left: 73%;
  -moz-animation: starloop linear 7.5s infinite;
  -webkit-animation: starloop linear 7.5s infinite;
  animation: starloop linear 7.5s infinite;
}
/* line 133, ../sass/screen.scss */
body .stars .star28 {
  height: 3px;
  width: 3px;
  background: white;
  left: 28%;
  -moz-animation: starloop linear 6.8s infinite;
  -webkit-animation: starloop linear 6.8s infinite;
  animation: starloop linear 6.8s infinite;
}
/* line 134, ../sass/screen.scss */
body .stars .star29 {
  height: 2px;
  width: 2px;
  background: white;
  left: 37%;
  -moz-animation: starloop linear 3.2s infinite;
  -webkit-animation: starloop linear 3.2s infinite;
  animation: starloop linear 3.2s infinite;
}
/* line 135, ../sass/screen.scss */
body .stars .star30 {
  height: 1px;
  width: 1px;
  background: white;
  left: 28%;
  -moz-animation: starloop linear 5.2s infinite;
  -webkit-animation: starloop linear 5.2s infinite;
  animation: starloop linear 5.2s infinite;
}
