---
layout: layouts/lesson.njk
title: Off and Leave-It
lessonNumber: 7
prevLesson: /lesson/6/
nextLesson: /lesson/8/
permalink: /lesson/7/
---

<div class="lesson-intro">
  <div class="lesson-intro-inner">
  <div class="lesson-intro-text">
    <p class="text-lg">
      For your dog, this lesson is all about impulse control. In their life, there will be things they want that they can't have &ndash; whether it's a muffin on a table or something truly dangerous &#128013;.
    </p>
    <p class="text-base mt-3">
      For you, this lesson is about choosing your words intentionally in moments where you need to stop your dog from doing something.
    </p>
  </div>
  <div class="lesson-intro-image">
    <img src="/img/lessons/lesson-7.jpg" alt="Dog learning the leave-it command" loading="lazy">
  </div>
  </div>
</div>

<div class="info-box">
  <h3>"Can't I just say NO?"</h3>
  <p class="mb-4">You sure can! There's no harm in just tell your dog NO. And let's be honest, you're not going to be able to stop yourself at times. After all, this is probably one of the first words you ever learned as a toddler. No!</p>

  <p class="mb-4">Think of <em>off</em> and <em>leave-it</em> as <em>upgrades</em> to the word NO. <em>Off</em> and <em>leave-it</em> are so much more effective for one simple reason: dogs do much better when they're able to connect specific cues with behaviors. When you simply yell NO, there's a delay where they have to figure out exactly what it is they're doing that you don't like.</p>

  <p class="mb-4">Smart dogs will figure out that all they have to do when you yell NO is look really guilty and maybe hang their head and tuck their tale. Then you'll stop yelling at them&hellip; and they can go right back to whatever they were doing.</p>

  <p>So, it's fine to tell your dog NO. But try and use these more-specific corrections when you can. The extra clarity will help your dog.</p>
</div>

<div class="exercise-section">
  <h3>Exercise: Off</h3>

  <p>This is a correction you'll give whenever your dog's front paws are somewhere they shouldn't be. This could be the dinner table, the couch, or other people. This is especially important with large breed puppies (labradors, huskies, collies, shepherds, etc) that are just reaching their full weight. We don't want them counter-surfing, knocking over old people, or chest-bumping toddlers.</p>

  <h3>Jumping up on things:</h3>

  <p class="mb-4">This exercise can only really be done when there's an opportunity for failure, so you'll want to set up a scenario where your dog is most likely to jump onto something. For example, if your dog is popping up on the table to steal food, attach his leash, set the food on table, and get ready.</p>

  <p>With a leash attached to a collar, here's what you'll do.</p>

  <ol>
    <li>As your dog goes to jump up onto something, give a firm "<strong>OFF</strong>" followed by a quick pop on the collar to the side.</li>
    <li>When they return to the ground, say "good" (continuation marker from <a href="/lesson/5/">lesson 5</a>).</li>
  </ol>

  <p class="my-4">Repeat this as necessary. While all 4 paws are on the ground, praise and use your "good" marker. At some point you'll see your dog make a clear decision <em>not</em> to jump up. Celebrate those moments with affection and rewards.</p>

  <h3>Jumping up on people:</h3>

  <p class="mb-4">If the thing they're jumping on is a <em>person</em>, then what you're really working on here is what I call "calm introductions." Jumping up is just a symptom of being overly excited to interact with someone. To practice this you'll need a volunteer &ndash; someone your dog is excited to meet (and jump all over).</p>

  <p>While you're out on your walk, when someone asks to greet your dog <em>enlist them as a volunteer!</em> Here's how:</p>

  <ol>
    <li>&#128075;: "What a cute dog! Can I say hi?"</li>
    <li>&#128021;&#8205;&#129466;: Immediately stop walking, put your hand up, and reply happily "Actually, we're working on calm introductions. Want to help with that?"</li>
    <li>&#128075;: They'll almost always reply with something like "Sure, what do you want me to do?" Now you have a volunteer.</li>
    <li>&#128021;&#8205;&#129466;: You'll reply "If he jumps up on you, ignore him and let us try again."</li>
    <li>&#128075;: "Okay no problem."</li>
    <li>&#128021;&#8205;&#129466;: Walk towards the person. If your dog lunges forward the <a href="/lesson/6/">leash rules</a> still apply! Immediately do an outside turn and walk away. Then try the approach again.</li>
    <li>&#128021;&#8205;&#129466;: When you get close to the volunteer, release your dog with "Go say hi!" If they jump up, say "OFF" turn around and walk away. Reset and try again. Don't forget to let your volunteer know you'll be right back.</li>
  </ol>

  <p class="my-4">It will take a few repetitions of this, different volunteers, and some good timing on your part for your dog to understand that it's <em>their jumping up</em> that is causing the end of the interaction they want to have.</p>

  <h3>Alternate method: The proactive leash-step.</h3>

  <p>Another effective method for stopping your dog from jumping up on people is to simply step on the leash and let the volunteer approach you instead. Here's how:</p>

  <ol>
    <li>&#128075;: "What a cute dog! Can I say hi?"</li>
    <li>&#128021;&#8205;&#129466;: Immediately stop walking, put your hand up, and reply happily "Actually, we're working on calm introductions. Want to help with that?"</li>
    <li>&#128075;: They'll almost always reply with something like "Sure, what do you want me to do?" Now you have a volunteer.</li>
    <li>&#128021;&#8205;&#129466;: You'll reply "Just give me one second."</li>
    <li>&#128075;: "Okay no problem."</li>
    <li>&#128021;&#8205;&#129466;: Put the leash in front of you and step on it. The trick here is to step on it at the length where it's not tight (it's not already restraining your dog) and not so slack that your dog is able to jump up without hitting the end.</li>
    <li>&#128021;&#8205;&#129466;: Let your volunteer know it's okay to come say hi now. But add "If they jump on you just stand up."</li>
  </ol>

  <p class="my-4">Using this method, you're allowing the dog to essentially correct themselves every time they jump up. At the very least it won't be comfortable for them, it won't get them where they want to be, and the behavior should diminish over time.</p>

  <p class="mb-4"><strong>A small warning about this alternate method:</strong> Some dogs will figure out that they only need to refrain from jumping up if you're standing on the leash. The act of stepping on the leash <em>itself</em> becomes the queue not to jump. We want them to understand they should never jump on people regardless of what's happening with the leash.</p>
</div>

<div class="tips-box">
  <h3>Tips and Tricks</h3>
  <ul>
    <li>&#9757;&#65039; The hardest part about "Calm introductions" is actually the human interaction. Really practice that phrase out loud and get it memorized.<br>&#128483;&#65039; "Actually, we're working on calm introductions. Want to help with that?"<br>9 in 10 people will say yes! Most of those will ask what you want them to do. So be ready with the next part:<br>&#128483;&#65039; "If she jumps on you, just ignore her and we'll try again."</li>
    <li>&#9757;&#65039; It's important that you always have a leash attached to your dog before you start using the phrase <em>off</em>. Remember, that words are only important to a dog because of what they predict. While your dog is learning <em>off</em>, the word must be followed by a collar pop every time. Otherwise it's just a sound.</li>
    <li>&#9757;&#65039; I avoid leash pop corrections while dogs are interacting with others because I want that experience to be as positive as possible. That's where the turn-and-walk-away comes in. It's a form of <a href="https://en.wikipedia.org/wiki/Operant_conditioning">negative punishment</a> because we're removing something they want (the interaction) in order to punish a behavior (jumping up).</li>
    <li>&#9757;&#65039; When you pop-and-turn away from the volunteer, make sure to check in with your volunteer with a "Can you stay there a second while we try again?" Most folks are up for a couple rounds of this.</li>
    <li>&#9757;&#65039; If your dog always, consistently jumps on people then skip the "Go say hi!" release and don't make it so fun in step #7. It's already fun enough. Just walk up and calmly say hello to the volunteer and allow the volunteer to pet your dog.</li>
    <li>&#9757;&#65039; If your dog literally jumps into the air, you must leash pop them before they actually become airborne. Otherwise you could easily flip your dog and hurt them.</li>
  </ul>
</div>

<div class="exercise-section">
  <h3>Exercise: Leave-It</h3>

  <p class="mb-4"><strong>This command could literally save your dog's life.</strong></p>

  <p class="mb-4">Think of this as the first part of the full phrase "Leave it <em>alone</em>." What are they leaving alone? That's up to you. It could mean a picnic meal at the park, a squirrel, a person, another dog, or a pile of rat poison. If their nose is somewhere it shouldn't be or they're approaching something best left alone&hellip; <em>leave-it.</em></p>

  <p>You can practice this with a long line in a field. Set the stage by putting something on the ground a ways from you and let them explore about 10-12ft away from you as you walk by the object. When they head towards the object:</p>

  <ol>
    <li>Shout out clearly "<em>Leave-it.</em>" (JUST those words)</li>
    <li>If they turn away (they won't at first) then encourage with "Good" followed by a reward (toss a treat or a toy their way).</li>
    <li>If they continue towards the object, deliver a pop on the collar with the long line.</li>
  </ol>

  <p class="my-4">Remember that "leave-it" isn't a recall. You're not insisting they come all the way back to you. So, try not to combine those commands.</p>

  <p class="mb-4"><strong>Leave-it scenario:</strong> Let's say you're in an open field and there's a pile of manure off in the corner. &#129326; They catch the scent and head off to go roll in it. "Leave it!"</p>

  <p class="mb-4"><strong>Recall scenario:</strong> Let's say you're in an open field and there's a coyote in the distance. &#9888;&#65039; That's where I'd issue a full recall. You need them back to your side now.</p>
</div>

<div class="tips-box">
  <h3>Tips and Tricks</h3>
  <ul>
    <li>&#9757;&#65039; One common mistake people make with <em>leave-it</em> is that, once their dog successfully refrains from interacting with the object, they release their dog to go get it. <strong>"Leave-it" does not mean "wait."</strong> It is important never to let your dog go after the item you instructed them to leave alone. "Leave it" does not just mean "wait." It is a sustained command. They must <em>continue</em> leaving that thing (or animal or person) alone.</li>
    <li>&#9757;&#65039; For this command to really stick, you want to use a long line of about 12-15 feet. If you don't have one, just clip two 6 foot leashes together to create a longer line. The reason is that we want your dog to feel like they're off leash and that they <em>could</em> get to their target if they wanted to. That distance of 12-15 feet is about right for that. On a 30 foot line, there's actually a chance that they <em>could</em> get to their target before you're able to make the leash taut to deliver a collar pop.</li>
    <li>&#9757;&#65039; Don't slow down as you move past the temptations. People will very often freeze up when they call out "leave it" to their dog and turn all their focus on what the dog does next. Try to get your mind ready before you start moving. Grip the leash tight, and as soon as your dog goes for the temptation, shout "LEAVE-IT" with no emotion and <em>keep walking.</em> Your dog will either keep heading for it (which is met with a leash pop) OR follow your command by stopping in their tracks or changing direction (either one is a win!)</li>
    <li>&#9757;&#65039; This is one skill where it may look like your dog has totally mastered it&hellip; at home. It's a lot harder in an unfamiliar place. So, you'll need extra patience with this as you practice <em>leave-it</em> in new areas. Areas where you're likely to need this most.</li>
    <li>&#9757;&#65039; At the end of this session, remember not to allow your dog to go get what you told them to leave. If you're with a partner, ask them to go gather up the food or the toys and put them away. If you're alone, consider putting the dog inside the house or your car while you clean up the training area.</li>
  </ul>
</div>

<h2 class="learn-heading">Increasing Difficulty</h2>

<p class="mb-4">How you increase the difficulty here is entirely dependent upon what your dog values. Dogs typically value these three things in some order: toys, food, or attention (meeting a stranger). Start with the lowest temptation and work towards whatever they value most.</p>

<p class="mb-4">For a food motivated dog, start with toys. Sprinkle a couple toys in the area that your dog has never seen before. As they go to get the toy, tell them to <em>leave-it</em>. Remember, they <em>must</em> be on a long line for your command to be enforceable. If they actually get to the object you've told them to leave alone, consider it a setback.</p>

<p class="mb-4">For a toy motivated dog, start with food and work your way up to toys.</p>

<h2 class="learn-heading">Learn: Interruptors (AH-AH-AH! or PSSSH!)</h2>

<p class="mb-4">When your dog is doing (or about to do) something it shouldn't be doing, it should be met with an <em>off</em> or a <em>leave-it</em>. Ninety percent of the time you should be using these words because what you want them to do is get off of something (a table, a person) or leave something alone (some trash, a cat, a sketchy person or dog).</p>

<p class="mb-4"><strong>What about the other 10% of the time?</strong></p>

<p class="mb-4">If you simply need to interrupt whatever your dog and it's not technically an <em>off</em> or a <em>leave-it</em> then I encourage using an "interruptor" sound that will get your dog's attention. The sounds I like most are "AH-AH-AH!" or a sharp "PSSSH!"</p>

<h3>Tips about interruptors:</h3>

<ol>
  <li><strong>Try not to use their name as the interruptor.</strong> Especially with young dogs, you want their name to be associated with fun and engagement.</li>
  <li><strong>Try not to interrupt with common words like "HEY!" or "NO!"</strong> It's likely they're going to hear these words a lot in their life and they won't always be directed at them. Consider sounds like "PSSSH!" or "AH-AH-AH!"</li>
  <li><strong>Try to pair a visual with the audio.</strong> This can mean holding your hand up or taking a step towards the dog. Adding a little physical pressure to the sound can make the interruptor more effective.</li>
</ol>

<h3>Real world example:</h3>

<p>I once worked with a dog that had the habit of constantly circling around me while I had a ball in hand. Since he was on a long line, I was essentially getting hogtied around the ankles between each throw. Innocent on the dog's part but still a behavior I wanted to stop. What to do?</p>

<ul class="my-4">
  <li><strong>Off?</strong> Nope. His paws are on the ground.</li>
  <li><strong>Leave-it?</strong> Nope. He was leaving-it! It's just the constant circling I didn't like.</li>
</ul>

<p>The solution was to interrupt the circling with a <em>PSSSH</em> sound and to kick my heel behind me to block his path around my back. In this case, the interruptor was the right option since there's no easy command for "stop circling around behind me!"</p>

<!-- Homework -->
<div class="homework-section lesson-full-width" style="background-image: url('/img/lessons/shared/homework-bg.jpg');">
  <div class="homework-section-inner">
    <img src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f4d8.svg" alt="" class="section-icon">
    <h2>Homework</h2>
    <p class="text-xl mb-4">10-15 MINUTES &bull; 3 TIMES A WEEK</p>

    <p class="mb-4">These exercises, <em>off</em> and <em>leave-it,</em> aren't really fun for your dog. Because of this, I don't recommend practicing these exercises back to back as your only training session for the day.</p>

    <h3 class="text-lg font-bold mt-6 mb-3">When to practice "off"</h3>

    <p class="mb-4">Practice off opportunistically when the scenario presents itself.</p>

    <p class="mb-4">If your dog jumps up onto tables to steal food, then attach a leash to their collar in anticipation of that moment and keep an eye on them. Remember from <a href="/lesson/1/">lesson 1</a> that dogs have less than 2 seconds to associate a non-conditioned stimulus ("off" in this case) to a reward or a punishment (popping their collar in this case). That means if you walk into the room and your dog is <em>already</em> up on the table, you've missed the window. All you can do is interrupt them and push them off the table. You've missed the window for cue ("off") and punishment (collar-pop).</p>

    <p class="mb-4">If your dog is jumping onto people, then attach their leash before visitors enter the house and let your guests know the "calm introductions" plan described above. If your dog is jumping onto strangers during your walk, follow the "calm introductions" protocol.</p>

    <h3 class="text-lg font-bold mt-6 mb-3">When to practice "leave it"</h3>

    <p class="mb-4">Unlike <em>off</em>, this is an exercise you can specifically practice. Think about what your dog values, stage those things in a field, leash up your dog on a longer line (12-15 feet or so) and start doing laps as you walk past those temptations.</p>

    <p>After you have a few consecutive wins, lead your dog away and do something they really enjoy to end the training session on a high note. Fetch, tug toy, food rewards, or whatever.</p>
  </div>
</div>

<!-- The Bigger Picture -->
<div class="bigger-picture lesson-full-width" style="background-image: url('/img/lessons/shared/bigger-picture-bg.jpg');">
  <div class="bigger-picture-overlay">
    <img src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f5fa.svg" alt="" class="section-icon">
    <h2>The Bigger Picture</h2>
    <p class="text-sm uppercase tracking-wider text-gray-500 mb-6">WHY ARE WE DOING THIS?</p>

    <h3>The cult of "Reward the good, ignore the bad."</h3>
    <p class="mb-4">A while ago I was picking up some dog food at a large retail pet supply store and I stopped to watch a little bit of the in-store puppy training class. No matter how many dogs I train, I'm always ready to learn something new.</p>

    <p class="mb-4">During a session with a couple and their young puppy, one of the customers asked the trainer: "We have a fruit tree next door that sometimes drops rotting fruit into our yard. We don't want him going after it because it's moldy and full of worms. Any way to stop this?"</p>

    <p class="mb-4">The trainer suggested:</p>
    <ul class="mb-4">
      <li><strong>Control the environment:</strong> "Try picking up the fruit before he notices. Or trim the tree. Or try chicken wire to section off the area."</li>
      <li><strong>Remove the temptation:</strong> "Spray vinegar on the fruit so it's less appetizing. He should eventually stop."</li>
      <li><strong>Trade up:</strong> "Take them by the fruit and when they notice it, give them an <em>even better</em> reward like chicken or cheese."</li>
    </ul>

    <p class="mb-6">You could see the couple working through each of these suggestions with skepticism. They can't race their puppy for dropping fruit all the time. They don't want to hire a tree trimmer. What if the dog <em>likes</em> his rotten fruit with a vinegar spritz? What if he prefers rotten fruit to chicken?</p>

    <h3>Clarity is compassionate. Structure is love.</h3>
    <p class="mb-4">People bend over backwards and sometimes situate their entire lives around the idea that no matter what you do, you can never tell your dog (or your child) <em>no</em>. I've seen people get kicked out of their apartments because of their dog won't stop pleasure-barking. I've seen people get pulled so hard by their dog they have given up walking them and the dog is banished to a life in the backyard. I've seen people warn houseguests not to sit in certain places because "the dog might bite you." I've seen people give up their dogs time and time again.</p>

    <p class="mb-6">Shelters are filled with dogs who were just never told the rules by owners who loved them enough to say <em>no</em>.</p>

    <h3>Dangerous, highly consequential, and self-rewarding behaviors</h3>
    <p class="mb-4">In most cases, we should try and teach our dogs that doing this <em>other</em> thing is rewarding. For example, take loose leash walking. In <a href="/lesson/2/">lesson 2</a> we start to teach the dog that being in the heel position is rewarding. We're building in them the desire to be there. This is the kind of approach we should always be reaching for first.</p>

    <p class="mb-4">The category of behaviors where we reach for physical corrections is typically limited to "self-rewarding" behaviors. These are things that:</p>
    <ol class="mb-4">
      <li>Pose a <em>danger</em> to (or have <em>high consequences for</em>) the dog, you, or others.</li>
      <li>Are <em>naturally rewarding</em> to the dog (doing the action itself is rewarding)</li>
    </ol>

    <p class="mb-4">This list could include:</p>
    <ul>
      <li>Tackling children.</li>
      <li>Play-biting hands.</li>
      <li>Jumping up on people.</li>
      <li>Running into the street.</li>
      <li>Taking food from people or other dogs.</li>
      <li>Chasing chickens, livestock, or wildlife.</li>
      <li>Chasing cars or bicyclists or motorbikes.</li>
      <li>Running up to strange dogs aggressively.</li>
      <li>Pleasure-barking (barking for absolutely no reason &ndash; hello huskies).</li>
    </ul>
  </div>
</div>
