---
layout: layouts/lesson.njk
title: Loose Leash Walking
lessonNumber: 6
prevLesson: /lesson/5/
nextLesson: /lesson/7/
permalink: /lesson/6/
---

<div class="lesson-intro">
  <div class="lesson-intro-inner">
  <div class="lesson-intro-text">
    <p class="text-lg">
      In this lesson we finally get to the skill that everyone wants to start with: loose leash walking.
    </p>
    <p class="text-lg mt-3">
      There's a lot of variation in how to teach this skill. Much depends on your dog's temperament, their age, their size, their history with the leash, and their relationship with you.
    </p>
    <p class="text-lg mt-3">
      In fact, most of your dog's success here depends on you &ndash; your mindfulness, your consistency, your timing, and your leadership.
    </p>
  </div>
  <div class="lesson-intro-image">
    <img src="/img/lessons/lesson-6.jpg" alt="Dog walking on a loose leash" loading="lazy">
  </div>
  </div>
</div>

<div class="lesson-prereqs" style="background-image: url('/img/lessons/lesson-6/llw-vs-heel.webp');">
  <div class="lesson-prereqs-overlay">
    <p class="mb-3">If you've been training with me since lesson 1 then your dog already understands&hellip;</p>
    <ul>
      <li>&#9989; being at your left side is rewarding (<a href="/lesson/2/">lesson 2</a>)</li>
      <li>&#9989; the leash isn't just a random feeling, it has a meaning (<a href="/lesson/3/">lesson 3</a>)</li>
      <li>&#9989; "yes" means they did good (<a href="/lesson/1/">lesson 1</a>) and "good" means to keep it up (<a href="/lesson/5/">lesson 5</a>).</li>
    </ul>
    <p class="mt-3">Now here we are, making real world use of all of it!</p>
  </div>
</div>

<h2 class="learn-heading">Learn: Loose Leash Walking vs "Heel"</h2>

<p class="mb-4">In <em>loose leash walking,</em> your dog is allowed a bit of freedom at your side, provided the leash stays slack (which requires they keep an eye on your left leg). You should be able to switch directions and change your pace with an expectation that your dog will stick mostly by your side. This technique is for casual, leisurely walks where the dog is allowed to sniff and explore within the limits of the leash. When you leash your dog and start on a walk, this is the default mode.</p>

<p class="mb-4"><em>Heeling</em> is a formal obedience command where your dog is taught to walk precisely at your left hand side (or right, depending on your preference) with its head or shoulder in line with your leg. In the "heel" position, your dog is attentive and primed to respond to the handler's next command. Heeling is often used in working situations or high-traffic areas where close control of your dog is necessary.</p>

<p class="mb-4">In short, heeling is about <em>rigidly</em> <em>sticking to your leg</em> without variation whereas loose leash walking is about <em>casually staying by your side</em>.</p>

<h2 id="new-leash-rules" class="learn-heading">Learn: The New Leash Rules</h2>

<p class="mb-4">It's unlikely this is the first time you've clipped a leash onto your dog, so what we're really doing here is establishing a <em>new</em> way forward with the leash &ndash; 90% of your dog's success here depends on <em>you</em> and your commitment to the new rules of the leash:</p>

<div class="leash-rules-section">
  <div class="leash-rules-header">
    <p class="leash-rules-title">&#128227; HEAR YE!<br>These are the new rules of the leash henceforth:</p>
  </div>

  <div class="leash-rules-columns">
    <div class="leash-rules-col">
      <div class="leash-rules-col-illustration">
        <img src="/img/lessons/lesson-6/illustration-left.svg" alt="Illustration of a person sitting with their dog" loading="lazy">
      </div>
      <p>When the leash is clipped to the collar, here are the <strong>rules for you</strong>:</p>
      <ul>
        <li>You must be in a <strong>mindful an ready state</strong> to respond to what the dog does.</li>
        <li>While walking, <strong>if the dog "leaves" you</strong> then you'll immediately <span class="text-red">pop-and-turn</span>.</li>
        <li>While walking, <strong>if the dog is in position</strong> <span class="text-green">praise and reward</span>.</li>
        <li>When at a stand-still <strong>a taut leash will always be met with a collar pop</strong> after 2 seconds.</li>
      </ul>
    </div>
    <div class="leash-rules-col pt-1">
      <div class="leash-rules-col-illustration">
        <img src="/img/lessons/lesson-6/illustration-right.svg" alt="Illustration of a dog sitting attentively" loading="lazy">
      </div>
      <p>When the leash is clipped to the collar, here are the <strong>rules for the dog</strong>:</p>
      <ul>
        <li>It's your job to <strong>watch your human's position,</strong> not the other way around.</li>
        <li>While walking, your <strong>butt can't pass the human's leg</strong>.</li>
        <li>Whether walking or at a stand still, <strong>you can not lean into the leash&hellip; ever</strong>. Doing so will never get you where you want to go. It will always be met with a pop.</li>
      </ul>
    </div>
  </div>

  <div class="leash-rules-footer">
    <p class="leash-rules-title" style="font-size: 1.25rem;">Above all&hellip;<br>When the leash goes taut,<br>we never <span class="text-red">ever</span> head in the dog's direction.</p>
  </div>
</div>

<div class="exercise-section">
  <h3>Exercise: Outside U-Turns</h3>

  <h4>Equipment:</h4>
  <ul>
    <li>A treat bag that you can easily dart your hand into to retrieve a tasty treat.</li>
    <li>A 6ft leash that dangles loosely and isn't too rigid. I like to use simple <a href="/equipment/">vinyl strap leashes</a> that can crumple easily in one hand. 3/4 inch thick is fine for most dogs up to about 70 or 80 lbs.</li>
    <li>A normal flat buckle collar OR a training collar &ndash; whatever we've decided on in our training session.</li>
  </ul>

  <h4>Instructions:</h4>
  
  <p></p>Do this in an open field, park, or backyard:</p>

  <ol>
    <li>Put your dog on their normal side (usually the left).</li>
    <li>Get their attention, say "Let's go!", and walk forward <em>keeping the leash fully loose.</em></li>
    <li>While they're by your side, encourage them with "Good!" and reward them as you walk.</li>
    <li>IF their butt passes your leg OR they dart off to the side, then do the following three things <em>before</em> the leash goes taut:
      <ol>
        <li>Firmly pop the leash like we practiced.</li>
        <li>Make a full U-turn away from the leash (we're doing <em>outside</em> turns)</li>
        <li>Immediately start walking in the same pace.</li>
      </ol>
    </li>
    <li>When your dog catches up with you and pulls into that parking spot by your leg:
      <ol>
        <li>Keep walking</li>
        <li>Mark and reward ("Yes" then deliver treat)</li>
      </ol>
    </li>
    <li><strong>Repeat</strong> going back and forth in the space you're in.</li>
  </ol>
</div>

<div class="tips-box">
  <h3>Tips and Tricks</h3>
  <ul>
    <li>&#9757;&#65039; If you're at a grassy city park and you find your dog is distracted by all the smells of the grass, move to a paved area like a sidewalk or even a parking lot.</li>
    <li>&#9757;&#65039; People tend to focus a lot on their leash handling in the turn and forget to mark and reward their dog for arriving back at their side. We want to make sure leash walking is fun and rewarding for them.</li>
    <li>&#9757;&#65039; If your dog is used to being out front while you walk, they may blow right through the parking spot by your leg and try to quickly get back out front. Some may not even stop for a treat! We need to correct this every single time with another quick pop and a U-turn as soon as their butt passes your leg.</li>
    <li>&#9757;&#65039; Keep your head up, your shoulders square, and walk with decisiveness! YOU are leading this walk.</li>
    <li>&#9757;&#65039; It's quite possible that your dog may give a surprised "yip" first few times you do a pop-and-turn. Some dogs even pull back immediately after the turn in protest as if to say "HEY YOU, we're going this way!" Dogs, just like humans, can be dramatic and/or stubborn when the rules change. I'll encourage you here to be sensible and compassionate and modulate yourself based on the size, age, and personality of your dog. But also&hellip; have some backbone in your pop-and-turn.</li>
    <li>&#9757;&#65039; Keep that leash loose! At all times. If it goes tight and you didn't initiate the pop, then you missed the window.</li>
    <li>&#9757;&#65039; People tend to ask for a "sit" whenever they stop moving. When they see another dog, they stop walking and they ask for a sit. Stop asking for a sit so much!</li>
  </ul>
</div>

<p class="mb-4">This exercise is very effective because we're approaching leash manners from both sides of the <a href="https://www.simplypsychology.org/operant-conditioning.html">operant conditioning</a> spectrum: a <em>light</em> <em>punishment</em> for being <em>out</em> of position and <em>steady</em> <em>rewards</em> for being <em>in</em> position.</p>

<div class="exercise-section">
  <h3>Exercise: Inside U-Turns</h3>

  <p class="mb-4">In the last exercise, your dog is allowed to get their head a little bit ahead of your legs before making your turn. Inside turns are tougher because you're turning <em>into</em> your dog. They can't be out front or you can't make the turn.</p>

  <p>So, inside turns have two differences: 1) You have to <em>signal to your dog you're about to turn</em> into them and 2) you have to <em>make the turn earlier</em> &ndash; they can't be out front already. Here's what to do:</p>

  <ol>
    <li>Put your dog on their normal side (usually the left).</li>
    <li>Get their attention, say "Let's go!", and walk forward <em>keeping the leash fully loose.</em></li>
    <li>While they're by your side, encourage them with "Good!" and reward them as you walk.</li>
    <li>As their head starts to pass your leg, <em>give the leash a small but clear tug</em> to signal you're turning into them.</li>
    <li>Throw your leg in front of them and make your turn.</li>
    <li>When your dog catches up with you and pulls into that parking spot by your leg:
      <ol>
        <li>Keep walking</li>
        <li>Mark and reward ("Yes" then deliver treat)</li>
      </ol>
    </li>
    <li><strong>Repeat</strong> going back and forth in the space you're in.</li>
  </ol>
</div>

<div class="tips-box">
  <h3>Tips and Tricks</h3>
  <ul>
    <li>&#9757;&#65039; In that 4th step above, your dog might not clue into your leash signal that you're about to turn. This is especially true of dogs that already pull hard &ndash; they're just not used to "listening" with their collar. In this case, an audible queue might be easier. I like to use a little clicking sound with my dog whenever I'm about to make a turn or a change in pace of any kind. My dog perks her ears up and falls back if she's a little ahead or speeds up if she's behind so she's ready for the change.</li>
    <li>&#9757;&#65039; When you put your leg in front of your dog, this is a form of "spatial pressure" where we're physically crowding the dog into the place we want them to be. Your dog may be so assertive that it falls back and simply switches to your other side to continue in the same direction. That's where the leash comes back into play. Keep walking forward and allow the leash to pop.</li>
  </ul>
</div>

<p class="mb-4">There's some personal preference when it comes to your dog's body position relative to your legs. If you decide you never want your dog to pass your feet then inside turns will be significantly easier. You just have to decide if that's the kind of loose leash walk you want to enforce.</p>

<div class="exercise-section">
  <h3>Exercise: Erratic/Unpredictable Walking</h3>

  <p>Now we're combining inside <em>and</em> outside turns so that your dog stays by your side no matter which direction you're headed. Instead of walking in a straight line back and forth, you'll now be moving in all directions. If it helps, think of yourself as moving in a star-shaped formation.</p>
</div>

<div class="tips-box">
  <h3>Tips and Tricks</h3>
  <ul>
    <li>&#9757;&#65039; How often should you turn? Believe it or not, it's actually easier for dogs to make a bunch of consecutive turns in rapid succession. You're actually <em>increasing</em> the difficulty level when you walk in a straight line for a while because you're making it tempting for your dog to get out of position. So, start in a small star-shaped pattern and then make the star larger as you progress.</li>
    <li>&#9757;&#65039; Once you start seeing progress, it's tempting to do this exercise for too long. Remember that training sessions of any kind should be about 15-20 minutes long.</li>
    <li>&#9757;&#65039; Keep that leash loose! At all times. If it goes tight and you didn't initiate the pop, then you missed the window.</li>
  </ul>
</div>

<p class="mb-4">Remember the three phases of learning from <a href="/lesson/4/">lesson 4</a>:</p>

<p class="mb-4">For loose leash walking, your dog is learning to <em>perform</em> the action of walking loosely on a leash by doing the exercises above.</p>

<p class="mb-4">We're <em>pairing</em> this action with two queues: 1) clipping a leash to their collar and 2) "Let's go!" as you take that first step.</p>

<p class="mb-4">As for <em>proofing</em> loose leash walking, <em>this is going to take a while.</em> Walking on a loose leash is, for many dogs, a journey that take a year or sometimes longer to really get down. Just because they're turning with you politely in the back yard, it does <em>not</em> mean they'll do the same thing on the city sidewalk, a park, the beach, on a trail, or at the farmer's market.</p>

<p class="mb-4">I can't stress this enough: proofing loose leash walking takes time. Set your expectations accordingly!</p>

<h2 class="learn-heading">Learn: Two-Mississippi Pop</h2>

<p class="mb-4">If you read the <a href="#new-leash-rules">New Leash Rules</a> above, you'll note that the leash rules aren't just about <em>walking.</em> They apply whenever the leash is clipped to the dog's collar &ndash; even when you're standing still or sitting at a table. Your dog still isn't allowed to pull the leash to get where it wants to go.</p>

<p class="mb-4">If your dog does put intentional pressure on the leash to leave your side or drag you to something they want to get to, my rule is that the dog has a MAX of two seconds (two Mississippi's) to self-correct. If they don't, then they get a firm leash pop.</p>

<p class="mb-4">Your dog is <em>never</em> allowed to pull while the leash is clipped to their collar.</p>

<div class="tips-box">
  <h3>Tips and Tricks</h3>
  <ul>
    <li>&#9757;&#65039; If you're standing or sitting somewhere and your dog starts to pull on the leash, resist giving a warning like "hey, stop!" or even "no." It's important here that the <em>tight</em> <em>leash itself</em> should be the predictor (the queue) that a pop is imminent. Think of the leash as being spring loaded with a pop. Pull it back and it goes pop. Every time.</li>
  </ul>
</div>

<p class="mb-4">So, will we always be "popping" our dogs on the collar forever? Hell no!</p>

<p class="mb-4">You'll be doing this a <em>lot</em> at first and then the need to do it will steadily decrease. What we're doing here is building the dog's awareness that pressure on the collar is something they need to pay attention to. With your consistency and mindfulness they <em>will</em> get the picture over time.</p>

<!-- Homework -->
<div class="homework-section lesson-full-width" style="background-image: url('/img/lessons/shared/homework-bg.jpg');">
  <div class="homework-section-inner">
    <img src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f4d8.svg" alt="" class="section-icon">
    <h2>Homework</h2>
    <p class="text-xl mb-4">10-15 MINUTES &bull; 2-3 TIMES A DAY</p>

    <p class="mb-4">Outside turns are definitely easiest to learn first, so practice that until your dog is starting to watch your leg and turn when you turn. When they're reliably turning with you then start working on inside turns.</p>

    <h3 class="text-lg font-bold mt-6 mb-3">What about dog walks in the mean time?</h3>

    <p class="mb-4">It's likely that you'll still be walking your dog on a leash while they learn how to walk loosely on a leash. That's where a harness comes back in. Hook them up to their harness and let them put pressure if they want. Remember, the feeling of the harness is totally different than the feeling of the collar. Because of that, your dog can understand that the rules are different for each.</p>

    <p class="mb-4">For 95% of the walk, you'll walk your dog on their harness. Then, for the last 5% of the walk, you'll switch to their collar and practice loose leash walking. Don't worry about covering too much ground in that final 5% of the walk because you might be doing a <em>lot</em> of pop-and-turns! You might even want to finish the walk, clip to the leash, and do your loose leash walking in the driveway or the parking lot.</p>

    <p>Slowly, you'll bump that 5% to 10%. Then 20% of the walk. Then half of the walk. Before you know it you'll be throwing that harness away.</p>
  </div>
</div>

<!-- The Bigger Picture -->
<div class="bigger-picture lesson-full-width" style="background-image: url('/img/lessons/shared/bigger-picture-bg.jpg');">
  <div class="bigger-picture-overlay">
    <img src="https://cdnjs.cloudflare.com/ajax/libs/twemoji/14.0.2/svg/1f5fa.svg" alt="" class="section-icon">
    <h2>The Bigger Picture</h2>
    <p class="text-sm uppercase tracking-wider text-gray-500 mb-6">WHY ARE WE DOING THIS?</p>

    <h3>Why do so many dogs pull on the leash?</h3>
    <ol>
      <li><strong>Dogs are faster than us:</strong> The trotting pace of most dogs is so much faster than of us bipeds. So, naturally, they're going to get the end of that leash.</li>
      <li><strong>"Opposition reflex":</strong> There's a very real, demonstrable phenomenon in dogs where once they meet resistance, they instinctively want to push <em>against</em> that resistance. Reaching the end of their leash actually builds their drive to push harder.</li>
      <li><strong>They don't understand they're causing their own discomfort.</strong> You'd think it would be obvious, when they're choking themselves out at the end of their leash, that they'd know that <em>they</em> are doing it to themselves. Well, they don't. They think this is just walks are about. When you get mad at the rules you've never taken the time to teach them, they have no idea why you're frustrated. In fact&hellip;</li>
      <li><strong>They're not <a href="https://www.youtube.com/watch?v=K4Ksoizbl2s">thinking about you at all</a>.</strong> They're out there ahead of you, looking forward, not realizing that on the other end of the leash, their human is angry.</li>
    </ol>

    <h3>It's not just about the pulling</h3>
    <p class="mb-4">At a deeper level, leash pulling isn't just about the annoyance of pulling. It's about leadership and a dog's sense that <em>you</em> are in charge of this little group.</p>

    <p class="mb-4">Before I go further, let me stop and note: you won't hear me talk about how you should be the "alpha" of your "wolf pack." Your domesticated dog isn't a wolf and the idea of an "alpha wolf" was debunked years ago (<a href="https://www.google.com/search?q=alpha+wolf+theory+debunked">Google it</a>). However, like any highly social mammals with larger brains, dogs absolutely have a sense of group roles and of leadership. If you're following them around getting dragged by the leash then in every practical sense, <em>they are the leader.</em> They're out front and they're making decisions for the both of you.</p>

    <h3>"Let me see the walk"</h3>
    <p class="mb-4">When people bring reactive dogs in for dog training, they often want to start with the dog's behavior as the thing that needs fixing. It's understandable because when you see a dog flipping out at other dogs or people, you think "Geez, what's this dog's problem?"</p>

    <p class="mb-4">Although it's not a rule, there's often a connection with dog reactivity and the person holding the leash. You often see it with couples! One person takes the leash and the dog is more or less fine. Then the spouse takes the leash and the dog unravels. There's a clear connection between the dog's state of mind and the person on the other end of the leash.</p>

    <p class="mb-4">How do dog trainers understand that connection? Well, they certainly don't just interview the person holding the leash. Instead, they observe the walk. The walk tells us almost everything about the relationship. Is the dog watching the handler at all? Are they watching the handler only for opportunities to leave them? Are they sled-dogging the handler around? Is the handler walking with intent expecting the dog to follow their lead? Or are they trailing the dog and commenting and tugging from behind?</p>

    <p>So, we work on loose leash walking not only to have a dog who can walk loosely on a leash. We do it because it helps us frame our relationship with our dogs. We're teaching them to follow, quite literally, our lead. Which goes way beyond the leash.</p>
  </div>
</div>
