<nav>
  <div class="contact-methods">
    <a href="https://instagram.com/jeremydgreat/" title="I'm jeremydgreat on Instagram"><img src="/img/svg/instagram.svg" alt="Instagram Logo" class="icon"></a>
    <a href="mailto:email@jeremyricketts.com" title="My email is email@jeremyricketts.com"><img src="/img/svg/envelop.svg" alt="Envelope" class="icon"></a>
    <a href="https://twitter.com/jeremyricketts" title="I'm @jeremyricketts on Twitter"><img src="/img/svg/twitter.svg" alt="Twitter Logo" class="icon"></a>
  </div>
  <ul class="main-nav" role="navigation">
    <li><a href="/photos" title="Collections of photos">Photography</a></li>
    <li><a href="/writing" title="Deep thoughts. Like, super deep yo.">Writing</a></li>
    <li><a href="/" title="Home"><img src="/img/svg/home.svg" alt="Twitter Logo" class="icon"></a></li>
  </ul>
</nav>